@{
    ViewBag.Title = "Forgot Password";
}
<div class="container">
    <div class="col-sm-4 login-form">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <form method="post" action="/Account/ForgotPassword">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-md-12 control-label">Email Address</label>
                    <div class="">
                        <input name="Email" type="email" class="form-control  col-md-12 email" required value="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Email Reset URL" class="btn btn-default" />
                    </div>
                </div>
            </form>
            
            <h6>
                Please check your email to reset your password.
            </h6>
        </div>
</div>
    </div>>