


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password Token Has Emailed</title>
</head>
<body>
    @*<div class="container">
        <div class="col-sm-12" style="height:300px;">
            <hgroup class="title">
                <h4>Please check your email and follow the instructions</h4>
            </hgroup>
        </div>
    </div>*@
    <div class="container">
            <div class="col-md-12 col-sm-12" style="margin-top:35px;" >
                <div class="alert alert-warning alert-dismissible fade in text-center" role="alert">
                    Please check your email and follow the instructions
                </div>
            </div>
    </div>
</body>
</html>
