
@{Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        <div class="alert alert-danger"> @ViewBag.Message</div>
        <a class="btn btn-info" href="/Admin/SaleStatus">Go To List</a>
    </div>
</body>
</html>
