
@{
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="book-details">
            <div class="book-image col-sm-5">
                <div class="book">
                    <div class="slider-for">
                        <div><img src="/Content/images/book1.jpg" /></div>
                        <div><img src="/Content/images/book2.jpg" /></div>
                        <div><img src="/Content/images/book3.jpg" /></div>
                        <div><img src="/Content/images/book4.jpg" /></div>
                        <div><img src="/Content/images/book5.jpg" /></div>
                    </div>
                    <div class="slider-nav">
                        <div><img src="/Content/images/book1.jpg" /></div>
                        <div><img src="/Content/images/book2.jpg" /></div>
                        <div><img src="/Content/images/book3.jpg" /></div>
                        <div><img src="/Content/images/book4.jpg" /></div>
                        <div><img src="/Content/images/book5.jpg" /></div>
                    </div>
                </div>
                <div class="read-sample">
                    <span class="btn-readsample">Read Sample</span>
                </div>
                <div class="dorating-block">
                    <h3>Rate this Book</h3>
                    <div class="rating">
                        <div class="starbox" data-userid="1200" data-bookid="1234" data-rateson="book">
                            <div class="blk-1"></div>
                            <div class="blk-2"></div>
                            <div class="blk-3"></div>
                            <div class="blk-4"></div>
                            <div class="blk-5"></div>
                        </div>
                        <span class="stars" data-rating="0"></span>
                    </div>

                </div>
                <a href="#" class="writeareview">Write areview</a>
            </div>
            <div class="book-content col-sm-7">
                <h2>බර්ඩ් Box - Bird Box</h2>
                <h3>By: නිම්මි මුදිතා හේරත් - Nimmi Muditha</h3>
                <div class="rating-details">
                    <div class="rating">
                        Rating details <div class="stars small" data-rating="2"></div>
                    </div>
                    <span class="count">255 rating(s)</span>
                    <span class="reviews">52 Reviews</span>
                </div>
                    <div class="availability">
                        Availability: <span class="preorder">Pre Order</span>
                    </div>
                    <div class="countdown-wrapper">
                        <h3>Countdown</h3>
                        <div class="countdown" id="countdown" data-date="Jan 5, 2021 15:37:25">

                        </div>
                    </div>

                    <div class="bookdetails">
                        <div class="row-element">
                            <div class="column-left">
                                ISBN13
                            </div>
                            <div class="column-right">
                                xxxxxxxxxxx
                            </div>
                        </div>
                        <div class="row-element">
                            <div class="column-left">
                                Weight
                            </div>
                            <div class="column-right">
                                XXg
                            </div>
                        </div>
                        <div class="row-element">
                            <div class="column-left">
                                Page
                            </div>
                            <div class="column-right">
                                660
                            </div>
                        </div>
                        <div class="row-element">
                            <div class="column-left">
                                Publisher
                            </div>
                            <div class="column-right">
                                Muses Publishers (Pvt) Ltd
                            </div>
                        </div>
                        <div class="row-element">
                            <div class="column-left">
                                Categories
                            </div>
                            <div class="column-right">
                                Horror, Muses Books, Pre Order
                            </div>
                        </div>
                    </div>
                    <div class="price-selectcover">
                        <div class="selectcover">
                            <div>
                                <span class="english-label">select a cover version</span>
                                <span class="sinhala-label">ඔබට අවශ්‍ය කවර වර්ගය තෝරන්න</span>
                            </div>
                            <select>
                                <option>Item 1</option>
                                <option>Item 2</option>
                                <option>Item 3</option>
                                <option>Item 4</option>
                            </select>
                        </div>
                        <div class="price-wrapper">
                            <div class="price hasdiscount">Rs.1000.00</div>
                            <div class="discount-price">Rs.800.00</div>
                            <div class="addtocart">
                                <input type="number" id="quantity" name="quantity" min="1" max="999" value="1">
                                <button class="btn-addtocart">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="bookcat-col active contentblock">
            <h3 class="acordian-tab">About book</h3>
            <div class="book-overview">
                <div class="revive-top">
                    Rating Details:
                </div>
            </div>
        </div>
        <div class="bookcat-col active contentblock">
            <h3 class="acordian-tab">Community Reviews</h3>
            <div class="book-overview reviewblock">
                <div class="reviewtop">
                    <div class="row-one">
                        <div class="rating-details">
                            <div class="rating">
                                Rating details <div class="stars small" data-rating="2"></div>
                            </div>
                        </div>
                        <div class="review-count">
                            255 rating(s)
                        </div>
                    </div>
                    <div class="row-two">
                        <div class="reviewabout">User Name Start your reveie of Book Name</div>
                        <div class="rating-block"></div>
                        <a href="#" class="writeareview">Write areview</a>
                    </div>
                </div>
                <div class="revives">
                    <ul>
                        <li>
                            <span class="raters-details">
                                <span class="name"><span>Pasindu</span> Rated it</span>
                                <span class="rating-details">
                                    <span class="rating">
                                        Rating details <span class="stars small" data-rating="2"></span>
                                    </span>
                                </span>
                                <span class="date">2020-04-04</span>
                            </span>
                            <span>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </span>
                        </li>
                        <li>
                            <span class="raters-details">
                                <span class="name"><span>Pasindu</span> Rated it</span>
                                <span class="rating-details">
                                    <span class="rating">
                                        Rating details <span class="stars small" data-rating="2"></span>
                                    </span>
                                </span>
                                <span class="date">2020-04-04</span>
                            </span>
                            <span>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </span>
                        </li>
                        <li>
                            <span class="raters-details">
                                <span class="name"><span>Pasindu</span> Rated it</span>
                                <span class="rating-details">
                                    <span class="rating">
                                        Rating details <span class="stars small" data-rating="2"></span>
                                    </span>
                                </span>
                                <span class="date">2020-04-04</span>
                            </span>
                            <span>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </span>
                        </li>
                        <li>
                            <span class="raters-details">
                                <span class="name"><span>Pasindu</span> Rated it</span>
                                <span class="rating-details">
                                    <span class="rating">
                                        Rating details <span class="stars small" data-rating="2"></span>
                                    </span>
                                </span>
                                <span class="date">2020-04-04</span>
                            </span>
                            <span>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="bookcat-col active">
            <h3 class="acordian-tab">Books by Nimmi Muditha</h3>
            <div class="book-overview" id="booksby">
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F4801bd39-3a76-461b-a128-1d81bcad3bf4.jpg" class="img-fluid" title="Sathweni Tharuwa" alt="muses Sathweni Tharuwa">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">සත්වෙනි තරුව</span> - <span class="english">Sathweni Tharuwa</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">සෙව්වන්දි රුක්මල්දෙණිය</span> - <span class="english">Sewwandi Rukmaldeniya </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">Detective and Mystery</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="5"></div>
                        </div>
                        <div class="discount-price">Rs.800.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="2" data-book_prop_id="2" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F09746169-c30f-443b-8933-e1fb933e1345.jpg" class="img-fluid" title="The Anubis Gates" alt="muses The Anubis Gates">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">අනුබිස් ගේට්ස්</span> - <span class="english">The Anubis Gates</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">සෙව්වන්දි රුක්මල්දෙණිය</span> - <span class="english">Sewwandi Rukmaldeniya </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Poetry</span>
                            <span class="cat-name">Poetry</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="2"></div>
                        </div>
                        <div class="discount-price">Rs.400.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="9" data-book_prop_id="19" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Content/images/no-image-book.jpg" alt="LaRose">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala"> රෝස</span> - <span class="english">LaRose</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">බද්&zwj;රජි මහින්ද ජයතිලක</span> - <span class="english">Bhadraji Mahinda Jayatilaka </span></div>
                        </div>

                        <div class="category">
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="0"></div>
                        </div>
                        <div class="price">Out of stock</div>
                        <div class="addto-cart btn-active">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F3b404825-c655-4ecc-b715-8d6ee02196bb.jpg" class="img-fluid" title="Bambarawile holmana" alt="muses Bambarawile holmana">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">බඹර විල හොල්මන</span> - <span class="english">Bambarawile holmana</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">බද්&zwj;රජි මහින්ද ජයතිලක</span> - <span class="english">Bhadraji Mahinda Jayatilaka </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">Horror</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="3"></div>
                        </div>
                        <div class="discount-price">Rs.1300.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="10" data-book_prop_id="16" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F81a5d06a-8be7-4101-b376-07f7387766c8.jpg" class="img-fluid" title=" imperdiet volutpat" alt="muses  imperdiet volutpat">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">මූල්&zwj;යමය සති අන්තය</span> - <span class="english"> imperdiet volutpat</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">බද්&zwj;රජි මහින්ද ජයතිලක</span> - <span class="english">Bhadraji Mahinda Jayatilaka </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Self-Help</span>
                            <span class="cat-name">Self-Help</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="2"></div>
                        </div>
                        <div class="discount-price">Rs.1250.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="14" data-book_prop_id="2025" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F79fba919-f05d-4230-8bcf-b0b794ea1ea7.jpg" class="img-fluid" title="Ahasa usata" alt="muses Ahasa usata">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">අහස උසට</span> - <span class="english">Ahasa usata</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">ප්&zwj;රභාත් මිරිහාගල්ල  </span> - <span class="english">Prabhath Mirihagalle</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Horror</span>
                            <span class="cat-name">Horror</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="3"></div>
                        </div>
                        <div class="discount-price">Rs.532.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="15" data-book_prop_id="21" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F04c289cc-6367-4951-acd7-6a8f8b265019.jpg" class="img-fluid" title="Integer vitae lorem aliquam, porta nisl a, dictum nisi" alt="muses Integer vitae lorem aliquam, porta nisl a, dictum nisi">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">සිංහල නවකතාව 1</span> - <span class="english">Integer vitae lorem aliquam, porta nisl a, dictum nisi</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">උපාලි කන්නන්ගර </span> - <span class="english">Upali Kannangara</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Classics</span>
                            <span class="cat-name">Classics</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="2"></div>
                        </div>
                        <div class="discount-price">Rs.1250.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="12" data-book_prop_id="2023" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F1c0a8c80-298d-46bd-8b72-94711512b4e4.jpg" class="img-fluid" title="Hapana" alt="muses Hapana">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">හපනා</span> - <span class="english">Hapana</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">ටී.බී.ඉලංගරත්න</span> - <span class="english">T. B. Ilangaratne</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">True Crime</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="4"></div>
                        </div>
                        <div class="discount-price">Rs.800.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="3" data-book_prop_id="3" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="discount-pers">20%<br>Off</div>
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                            <div class="discounted-price">-Rs.24.00/=</div>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F5107d3fb-1be7-48e5-bb39-40ec5c925c02.jpg" class="img-fluid" title="Madol Duwa" alt="muses Madol Duwa">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">මඩොල් දූව</span> - <span class="english">Madol Duwa</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">මාටින් වික්&zwj;රමසිංහ</span> - <span class="english">martin wickramasinghe</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">Action and Adventure</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="0"></div>
                        </div>
                        <div class="price hasdiscount">Rs.120.00/=</div>
                        <div class="discount-price">Rs.96.00./=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="1015" data-book_prop_id="1021" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="bookcat-col active">
            <h3 class="acordian-tab">You may also like</h3>
            <div class="book-overview" id="youmaylike">
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F4801bd39-3a76-461b-a128-1d81bcad3bf4.jpg" class="img-fluid" title="Sathweni Tharuwa" alt="muses Sathweni Tharuwa">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">සත්වෙනි තරුව</span> - <span class="english">Sathweni Tharuwa</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">සෙව්වන්දි රුක්මල්දෙණිය</span> - <span class="english">Sewwandi Rukmaldeniya </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">Detective and Mystery</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="5"></div>
                        </div>
                        <div class="discount-price">Rs.800.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="2" data-book_prop_id="2" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F09746169-c30f-443b-8933-e1fb933e1345.jpg" class="img-fluid" title="The Anubis Gates" alt="muses The Anubis Gates">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">අනුබිස් ගේට්ස්</span> - <span class="english">The Anubis Gates</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">සෙව්වන්දි රුක්මල්දෙණිය</span> - <span class="english">Sewwandi Rukmaldeniya </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Poetry</span>
                            <span class="cat-name">Poetry</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="2"></div>
                        </div>
                        <div class="discount-price">Rs.400.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="9" data-book_prop_id="19" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Content/images/no-image-book.jpg" alt="LaRose">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala"> රෝස</span> - <span class="english">LaRose</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">බද්&zwj;රජි මහින්ද ජයතිලක</span> - <span class="english">Bhadraji Mahinda Jayatilaka </span></div>
                        </div>

                        <div class="category">
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="0"></div>
                        </div>
                        <div class="price">Out of stock</div>
                        <div class="addto-cart btn-active">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F3b404825-c655-4ecc-b715-8d6ee02196bb.jpg" class="img-fluid" title="Bambarawile holmana" alt="muses Bambarawile holmana">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">බඹර විල හොල්මන</span> - <span class="english">Bambarawile holmana</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">බද්&zwj;රජි මහින්ද ජයතිලක</span> - <span class="english">Bhadraji Mahinda Jayatilaka </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">Horror</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="3"></div>
                        </div>
                        <div class="discount-price">Rs.1300.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="10" data-book_prop_id="16" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F81a5d06a-8be7-4101-b376-07f7387766c8.jpg" class="img-fluid" title=" imperdiet volutpat" alt="muses  imperdiet volutpat">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">මූල්&zwj;යමය සති අන්තය</span> - <span class="english"> imperdiet volutpat</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">බද්&zwj;රජි මහින්ද ජයතිලක</span> - <span class="english">Bhadraji Mahinda Jayatilaka </span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Self-Help</span>
                            <span class="cat-name">Self-Help</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="2"></div>
                        </div>
                        <div class="discount-price">Rs.1250.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="14" data-book_prop_id="2025" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F79fba919-f05d-4230-8bcf-b0b794ea1ea7.jpg" class="img-fluid" title="Ahasa usata" alt="muses Ahasa usata">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">අහස උසට</span> - <span class="english">Ahasa usata</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">ප්&zwj;රභාත් මිරිහාගල්ල  </span> - <span class="english">Prabhath Mirihagalle</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Horror</span>
                            <span class="cat-name">Horror</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="3"></div>
                        </div>
                        <div class="discount-price">Rs.532.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="15" data-book_prop_id="21" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F04c289cc-6367-4951-acd7-6a8f8b265019.jpg" class="img-fluid" title="Integer vitae lorem aliquam, porta nisl a, dictum nisi" alt="muses Integer vitae lorem aliquam, porta nisl a, dictum nisi">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">සිංහල නවකතාව 1</span> - <span class="english">Integer vitae lorem aliquam, porta nisl a, dictum nisi</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">උපාලි කන්නන්ගර </span> - <span class="english">Upali Kannangara</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Classics</span>
                            <span class="cat-name">Classics</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="2"></div>
                        </div>
                        <div class="discount-price">Rs.1250.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="12" data-book_prop_id="2023" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F1c0a8c80-298d-46bd-8b72-94711512b4e4.jpg" class="img-fluid" title="Hapana" alt="muses Hapana">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">හපනා</span> - <span class="english">Hapana</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">ටී.බී.ඉලංගරත්න</span> - <span class="english">T. B. Ilangaratne</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">True Crime</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="4"></div>
                        </div>
                        <div class="discount-price">Rs.800.00/=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="3" data-book_prop_id="3" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item-inner">
                        <div class="discount-pers">20%<br>Off</div>
                        <div class="viewmore-discprice">
                            <a href="#" class="viewmore"></a>
                            <div class="discounted-price">-Rs.24.00/=</div>
                        </div>
                        <div class="book-image">
                            <img src="/Utility/Thumbnail?FileName=~%2FContent%2FUploadFiles%2FImages%2FBookFrontCover%2F5107d3fb-1be7-48e5-bb39-40ec5c925c02.jpg" class="img-fluid" title="Madol Duwa" alt="muses Madol Duwa">

                        </div>
                        <div class="book-name-author ">
                            <div class="name"><span class="sinhala">මඩොල් දූව</span> - <span class="english">Madol Duwa</span></div>
                        </div>
                        <div class="book-name-author">
                            <div class="author"><span class="sinhala">මාටින් වික්&zwj;රමසිංහ</span> - <span class="english">martin wickramasinghe</span></div>
                        </div>

                        <div class="category">
                            <span class="cat-name">Action and Adventure</span>
                            <span class="cat-name">Action and Adventure</span>
                        </div>
                        <div class="rating">
                            <div class="stars" data-rating="0"></div>
                        </div>
                        <div class="price hasdiscount">Rs.120.00/=</div>
                        <div class="discount-price">Rs.96.00./=</div>
                        <div class="addto-cart btn-active add-to-cart" data-book_id="1015" data-book_prop_id="1021" data-number_of_items="1">
                            Add to Cart
                            <div class="icon"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
