
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<h2>Create Article</h2>

<form id="form-add-article" method="post" action="/Admin/Article/CreateArticle" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
    </div>
    <div class="form-group">
        <label>Summary</label>
        <textarea type="text" class="form-control" id="Summary" name="Summary" placeholder="Summary"></textarea>
    </div>
    <div class="form-group">
        <label>Url</label>
        <input type="text" class="form-control" id="Url" name="Url" placeholder="Url">
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" id="Content" name="Content" placeholder="Content"></textarea>
        <script>
            CKEDITOR.replace('Content');
        </script>
    </div>
    <div class="form-group">
        <label>Written By</label>
        <input type="text" class="form-control" id="WrittenBy" name="WrittenBy" placeholder="WrittenBy">
    </div>
    <div class="form-group">
        <label>Main Image</label>
        <input type="file" class="form-control-file author_prof" id="MainPicture" name="MainPicture">
        <div>
            <img id="temp_img_author_prof" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
        </div>
    </div>
    <div class="form-group">
        <label>Cover Image</label>
        <input type="file" class="form-control-file author_cover" id="CoverPicture" name="CoverPicture">
        <div>
            <img id="temp_img_author_cover" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
        </div>
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

