
@{Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<form id="form-add-category" method="post" action="/Admin/DeliverStatus/Add" enctype="multipart/form-data">
    <div class="form-group">
        <label>Display Title</label>
        <input type="text" class="form-control" id="DisplayText" name="DisplayText" placeholder="Display Text">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

