
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>New Voucher Code</h2>

<form id="form-add-voucher" method="post" action="/Admin/Voucher/Create" enctype="multipart/form-data">
    <div class="form-group">
        <label>Voucher Amount : Rs.</label>
        <input type="text" class="form-control" id="VoucherAmount" name="VoucherAmount" placeholder="1000">
    </div>
    <div class="form-group">
        <label>Number Of Valid Codes</label>
        <input type="text" class="form-control" id="NumberOfValidCodes" name="NumberOfValidCodes" placeholder="10">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

